.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 820px;
  margin: 1px 80px;
  padding: 30px;
  background-color: #1e1e1e;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button {
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  border: red;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Button hover / active */
.button:hover {
  background-color: #ffaa33;
  transform: scale(1.05);
}

.button:active {
  background-color: #575757;
  transform: scale(0.98);
}

/* Operator button styling
.button:nth-child(4n),
.button:nth-child(10),
.button:nth-child(14),
.button:nth-child(15) {
  background-color: #ff9500;
  color: #fff;
} */

.button:nth-child(4n):hover,
.button:nth-child(10):hover,
.button:nth-child(14):hover,
.button:nth-child(15):hover {
  background-color: #ffaa33;
}

/* Tablets */
@media (max-width: 768px) {
  .buttonContainer {
    max-width: 380px;
    gap: 19px;
    padding: 8px;
  }
  .button {
    font-size: 1.3rem;
    padding: 13px 20px;
  }
}

/* Mobiles */
@media (max-width: 480px) {
  .buttonContainer {
    max-width: 240px;
    gap: 6px;
    padding: 6px;
    border-radius: 12px;
  }
  .button {
    font-size: 1.1rem;
    padding: 10px 15px;
  }
}
